{% extends "base.html.twig" %}
{% block title %}{{ parent () }}etudiant{% endblock %}
{% block stylesheets %}
        {{ parent() }}
{% endblock %}
{% block body %}
 {% include "nav/nav_etudiant.html.twig" %}
	 <section id="contact" class="padd-section wow fadeInUp">
     {% if not isSubmit or user == null %}
    <div class="container">
      <div class="section-title text-center">
        <h2>Creation de Compte</h2>
        <p class="separator">vous pouvez creer votre compte ici</p>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4">

          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>121 rue d'Alger <br>Roubaix, 59100</p>
            </div>

            <div class="email">
              <i class="fa fa-envelope"></i>
              <p><a href="mailto:sitayebsofiane51@gmail.com">sitayebsofiane51@gamil.com</a></p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+336 50 92 28 97</p>
            </div>
          </div>

          <div class="social-links">
            <a href="https://twitter.com/home" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/" class="instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/feed/" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
          </div>

        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage"></div>
            <div id="errormessage"></div>
            <!--form-->
            {{ form_start(form) }}
            <div class="form-group">
                <label for="nom">nom</label>
                {{ form_widget(form.nom)}}
            </div>
            <div class="form-group">
                <label for="prenom">prenom</label>
                {{ form_widget(form.prenom)}}
            </div>
            <div class="form-group">
                <label for="email">email</label>
                {{ form_widget(form.email)}}
            </div>
            {# <div class="form-group">
                <label for="photo">photo</label>
                {{ form_widget(form.photo)}}
            </div> #}
            <div class="form-group">
                <label for="password">password</label>
                {{ form_widget(form.password)}}
            </div>
            <div class="form-group">
                <label for="confirmPassword">confirmer password</label>
                <input type="password" name="confirmPassword"  id="password" class='form-control'/>
                {% if not passewordConfirm %} <span>le mot passe doit etre le même</span> {% endif %}
            </div>
            {{ form_end(form) }}
            <!--form-->
          </div>
        </div>
      </div>
    </div>
    {% else %}
     <div class="container">
      <div class="section-title text-center">
        <h2>Ecole Roubaix vous souhaite la bienvenue <b>{{user.nom}}</b></h2>
      </div>
    </div>
    {% endif %}
  </section><!-- #contact -->
{% block javascripts %} 
  {{ parent() }} 
{% endblock %}
{% endblock body %}



