{% extends "base.html.twig" %}
{% block title %}
	{{ parent () }}
	Matiers
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}

	<section id="matiere" class="padd-section text-center wow fadeInUp">

		<div class="container">
			<div class="section-title text-center">
				<h2>MATIERS</h2>
				<p class="separator">Les {{ matieres|length }} Matiers que nous proposant.</p>
				
			</div>
		</div>
		<div class ="row">
			{% for matiere in matieres %}
			<div class="card col-md-4" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">ID:{{ matiere.getId() }} </h5>
					<p class="card-text">Nom:{{matiere.getNom() }}</p>
					<a href="{{ path('cour',{'id':matiere.id}) }}" class="btn btn-primary">voir les cours</a>
				</div>
			</div>
			{% endfor %}
		</div>

	</section>
	{% block javascripts %}
		{{ parent() }}
	{% endblock %}
{% endblock body %}
