{% extends "base.html.twig" %}
{% block title %}
	{{ parent () }}
	Matiers
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
	{% include "nav/nav_admin.html.twig" %}
	<section id="matiere" class="padd-section text-center wow fadeInUp">
		{% if is_granted('ROLE_SUPER_ADMIN') %}
		<div>
			<a href="{{ path('ajoutMatiere') }}">
				<button class="btn btn-warning">ajouter des matieres</button>
			</a>
		</div>
		{% endif %}
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID_Matiere</th>
					<th scope="col">Nom</th>
					<th scope="col">ID_Enseigne</th>
					<th scope="col">Nom_Enseigne</th>
				</tr>
			</thead>
			<tbody>
				{% for matiere in matieres %}
					<tr>
						<th scope="row">{{matiere.id}}</th>
						<td>{{matiere.nom}}</td>
						<td>{{matiere.enseigne.id}}</td>
						<td>{{matiere.enseigne.nom}}</td>
						{% if is_granted('ROLE_SUPER_ADMIN') %}
						<td>
							<button><a href="{{ path('modifierMatiere',{'id':matiere.id}) }}" >Modifier</a></button>
						</td>
						<td>
							<button><a onclick="return confirm('êtes vous sûr de suprimer')" href="{{ path('suprimerMatiere',{'id':matiere.id})}}">Suprimer</a></button>
						</td>
						{% endif %}
						<td>
							<button><a href="{{ path('adminCours',{'id':matiere.id})}}">Voir les cours</a></button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="navigation">
			{{ knp_pagination_render(matieres) }}
		</div>
	</section>
	{% block javascripts %}
		{{ parent() }}
	{% endblock %}
{% endblock body %}
