{% extends "base.html.twig" %}
{% block title %}
	{{ parent () }}Login
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
	{{ parent() }}
	{% include "nav/nav_admin.html.twig" %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12 col-md-12">
				<p>merci de quitter cette page si vous n'êtes pas administrateur de ecoleTechRoubaix</p>
			</div>
			<div class="col-lg-5 col-md-8">
              <h1> authentification </h1>
				<div class="card-body">
					<form method="post" role="form">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								You are logged in as
								{{ app.user.username }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% endif %}

						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="fas fa-user"></i>
								</span>
							</div>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="email" class="form-control" required autofocus>
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="fas fa-key"></i>
								</span>
							</div>
							<input type="password" name="password" id="inputPassword" placeholder="mot de passe" class="form-control" required>
						</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						<button class="btn btn-lg btn-primary" type="submit">
							se connecter
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
