{% extends "base.html.twig" %}
{% block title %}
	{{ parent () }}etudiant
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
	{% include "nav/nav_admin.html.twig" %}
	<div
		class="container">
		<!--form-->
		{{ form_start(form) }}
		<div class="form-group">
			<label for="nom">date</label>
			{{ form_widget(form.date)}}
		</div>
		<div class="form-group">
			<label for="prenom">durreEnMinte</label>
			{{ form_widget(form.durreEnMinte)}}
		</div>
		<div class="form-group">
			<label for="email">description</label>
			{{ form_widget(form.description)}}
		</div>
		<div class="form-group">
			<label for="promotion">promotion</label>
			<select  name="promotion">
				{% for promotion in promotions%}
					<option value="{{promotion.id}}">{{promotion.libelle}}</option>
				{% endfor %}
			</select>
			{# <input type="number" name="promotion" id="promotion" class='form-control'/> #}
		</div>
		{{ form_end(form) }}
		<!--form-->
	</div>
	{% block javascripts %}
		{{ parent() }}
	{% endblock %}
{% endblock body %}
