{% extends "base.html.twig" %}
{% block title %}
	{{ parent () }}
	Matiers
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
	{% include "nav/nav_admin.html.twig" %}
	<section id="contact" class="padd-section wow fadeInUp">
		<div class="container">
		{% if not matiere.id is null %}
			<div class="section-title text-center">
				<h2 style="text-align:center"></h2>
				<a href="{{ path('ajoutCours',{'id':matiere.id}) }}">
					<button class="btn btn-primary">ajouter des cours</button>
				</a>
				<a href="{{ path('adminCours',{'id':matiere.id}) }}">
					<button class="btn btn-primary">voir les cours</button>
				</a>
			</div>
		{% endif %}
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-3 col-md-4">
					<p>a fin de bien ajouter la matiere vous devez indiquer  l'enseigne qui lui correspond</p>
				</div>
				<div class="col-lg-5 col-md-8">
					<div class="form">
						<div id="sendmessage"></div>
						<div id="errormessage"></div>
						<form method="post" role="form">
							<div class="form-group">
								<label for="nom">nom de la matiere</label>
								<input type="text" class="form-control" value="{{matiere.nom}}" name="nom" id="nom"/>
							</div>
							<div class="form-group">
								<label for="enseigne">l'enseigne</label>
								<select name="enseigne" class="form-control">
									{% for enseigne in enseignes%}
										<option value="{{enseigne.id}}">{{enseigne.nom}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="text-center">
								<button type="submit">Ajouter</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="container"></div>
	</section>
	<!-- #contact -->
	{% block javascripts %}
		{{ parent() }}
	{% endblock %}
{% endblock body %}
