{% extends "base.html.twig" %}
{% block title %}
	{{ parent () }}enseignant
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
	{% include "nav/nav_admin.html.twig" %}
	{% set roles = ['ROLE_USER','ROLE_ADMIN','ROLE_SUPER_ADMIN']%}
	<div class="container">
		<div class="col-lg-12 col-md-12">
			<div class="form">
				<div id="sendmessage"></div>
				<div id="errormessage"></div>
				<!--form-->
				{{ form_start(form) }}
				<div class="form-group">
					<label for="nom">nom</label>
					{{ form_widget(form.nom)}}
				</div>
				<div class="form-group">
					<label for="prenom">prenom</label>
					{{ form_widget(form.prenom)}}
				</div>
				<div class="form-group">
					<label for="email">email</label>
					{{ form_widget(form.email)}}
				</div>
				<div class="form-group">
					<label>role</label>
					{# <input type="text" class="form-control" name="role" value={{role}}> #}
					<select name="role" class="form-control">
						{% for role in roles %}
							{% if role == role_actuel %}
								<option value="{{role}}" selected>{{role}}</option>
							{% else %}
								<option value="{{role}}">{{role}}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label for="photo">photo</label>
					{{ form_widget(form.photo)}}
				</div>
				{{ form_end(form) }}
				<!--#form-->
			</div>
		</div>
	</div>
	{% block javascripts %}
		{{ parent() }}
	{% endblock %}
{% endblock body %}
