{% extends "base.html.twig" %}
{% block title %}
	{{ parent () }}enseigne
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
	{% include "nav/nav_admin.html.twig" %}
	<div class="container">
		<div
			class="form">
			<!--form-->
			{{ form_start(form) }}
			<div class="form-group">
				<label>LIBELLE</label>
				{{ form_widget(form.libelle)}}
			</div>
			<div class="form-group">
				<label>ID_ENSEIGNE</label>
				<select name="enseigne">
					{% for enseigne in enseignes %}
						{% if promotion.enseigne.id == enseigne.id %}
							<option value="{{enseigne.id}}" selected>{{enseigne.nom}}</option>
						{% else %}
							<option value="{{enseigne.id}}">{{enseigne.nom}}</option>
						{% endif %}
					{% endfor %}
				</select>
				{# <input type="number" name="enseigne"> #}
			</div>
			{{ form_end(form) }}
			<!--form-->
		</div>
	</div>
	{% block javascripts %}
		{{ parent() }}
	{% endblock %}
{% endblock body %}
