<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome a la page
			{% endblock %}
		</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="" name="keywords">
		<meta content="" name="description">
		{% block stylesheets %}
			<!-- Favicons -->
			<link href="img/chat.png" rel="icon">
			<link
			href="img/apple-touch-icon.png" rel="apple-touch-icon">

			<!-- Google Fonts -->
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

			<!-- Bootstrap css -->
			<!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
			<link
			href="{{ asset('/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"> <!-- Libraries CSS Files -->
			<link href="{{ asset('/lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
			<link href="{{ asset('/lib/owlcarousel/assets/owl.theme.default.min.css') }}" rel="stylesheet">
			<link href="{{ asset('/lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
			<link href="{{ asset('/lib/animate/animate.min.css ') }}" rel="stylesheet">
			<link
			href="{{ asset('/lib/modal-video/css/modal-video.min.css') }}" rel="stylesheet">

			<!-- Main Stylesheet File -->
			<link href="{{ asset('/css/style.css') }}" rel="stylesheet">

		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		<footer class="footer">
			<div class="container">
				<div class="row">

					<div class="col-md-12 col-lg-4">
						<div class="footer-logo">

							<a class="navbar-brand" href="#">ecotechRoubaix</a>
							<p>121 rue d'Alger, 59100 Roubaix</p>

						</div>
					</div>

					<div class="col-sm-6 col-md-3 col-lg-2">
						<div class="list-menu">

							<h4>A propos de nous</h4>

							<ul class="list-unstyled">
								<li>
									<a href="#">a propos de nous</a>
								</li>
								<li>
									<a href="#">Caractéristiques</a>
								</li>
								<li>
									<a href="#">Politique interieur</a>
								</li>
							</ul>

						</div>
					</div>

					<div class="col-sm-6 col-md-3 col-lg-2">
						<div class="list-menu">

							<h4>A propos de nous</h4>

							<ul class="list-unstyled">
								<li>
									<a href="#">a propos de nous</a>
								</li>
								<li>
									<a href="#">Caractéristiques</a>
								</li>
								<li>
									<a href="#">Politique interieur</a>
								</li>
							</ul>

						</div>
					</div>

					<div class="col-sm-6 col-md-3 col-lg-2">
						<div class="list-menu">

							<h4>A propos de nous</h4>

							<ul class="list-unstyled">
								<li>
									<a href="#">a propos de nous</a>
								</li>
								<li>
									<a href="#">Caractéristiques</a>
								</li>
								<li>
									<a href="#">Politique interieur</a>
								</li>
							</ul>

						</div>
					</div>
				</div>
			</div>

			<div class="copyrights">
				<div class="container">
					<p>&copy; Copyrights ecole roubaix. All rights reserved.</p>
					<div class="credits">
						fait par
						<a href="https://sitayebsofiane.github.io/cv_html_css/" target="_blanck">Sofiane</a>
					</div>
				</div>
			</div>

		</footer>

		{% block javascripts %}
			<!-- JavaScript Libraries -->
			<script src="{{ asset('lib/jquery/jquery.min.js') }}"></script>
			<script src="{{ asset('lib/jquery/jquery-migrate.min.js') }}"></script>
			<script src="{{ asset('lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
			<script src="{{ asset('lib/superfish/hoverIntent.js') }}"></script>
			<script src="{{ asset('lib/superfish/superfish.min.js') }}"></script>
			<script src="{{ asset('lib/easing/easing.min.js') }}"></script>
			<script src="{{ asset('lib/modal-video/js/modal-video.js') }}"></script>
			<script src="{{ asset('lib/owlcarousel/owl.carousel.min.js') }}"></script>
			<script src="{{ asset('lib/wow/wow.min.js') }}"></script>
			<!-- Contact Form JavaScript File -->
			<script src="{{ asset('contactform/contactform.js') }}"></script>

			<!-- Template Main Javascript File -->
			<script src="{{ asset('js/main.js') }}"></script>
		{% endblock %}
		<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	</body>
</html>
