<head> 
 <div id="logo" class="pull-left">
                        <h1>
                            <a class="navbar-brand scrollto" href="{{ path('home') }}">Interface Client</a>
                        </h1>
                </div>
			<nav class="navbar navbar-expand-lg navbar-light bg-light ">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul  class="nav navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('ajoutEnseignant') }}">Creer Enseignant</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('adminEtudiant') }}">Gestion Etaudiants</a>
					</li>
					<li class="nav-item">
						<a class="nav-link"  href="{{ path('adminMatiere') }}">Gestion matieres</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="{{ path('adminEnseignant') }}">Gestion Enseigants</a>
					</li>
					<li>
						<a class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-lock fa-2x" id="lock"></i></a>
					</li>
				</ul>
			</div>
		</nav>
</head>